{% extends "::base.html.twig" %}

{% block body %}
    {{ grid(grid) }}

    <h1>Création d'une commande</h1>
    <form method="post" action="{{ path('orders_create') }}">
        {{ form(form) }}
    </form>
{% endblock %}