{% extends "::base.html.twig" %}

{% block body %}
<ul>
    <li><a href="{{ path('api_orders', {'format' : 'exempleResultatJson'}) }}">Commandes > json</a></li>
    <li><a href="{{ path('api_orders', {'format' : 'exempleResultatYaml'}) }}">Commandes > yaml</a></li>
</ul>
{% endblock %}